<!doctype html>
<html ng-app="todoApp">
  <head>
	<title>Git Testing Playground</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="styles/todo.css">
  </head>
  <body>
	  <div class="container">
    		<div ng-controller="TodoListController as todoList">
			<h1>Todo <sup style="font-size: 12px;">[{{todoList.todos_data.todos.length}} remaining]</sup></h1>
      			<form ng-submit="todoList.addTodo()"> 
        			<input type="text" ng-model="todoList.todoText"  size="30" placeholder="add new todo here">
        			<input class="btn-primary" type="submit" value="add">
      			</form>
			<br>
      			<ul class="unstyled">
        			<li ng-repeat="todo in todoList.todos_data.todos">
          				<label class="checkbox">
						<input type="checkbox" ng-model="todo.done">
            					<span class="done-{{todo.done}}">{{todo.text}}</span>
						<a href="#" class="remove-link" ng-click="todoList.removeTodo(todo)">remove</a>
          				</label>
        			</li>
      			</ul>
      			<a href="" ng-click="todoList.archive()">Archive selected items</a>
      			<br>
      			<br>
			<br>
			<br>
      			<div ng-show="todoList.showArchives">
      				<div class="archives">
      					<h4>Dead Todos Graveyard</h4>
      					<ul class="unstyled">
						<li ng-repeat="deadTodo in todoList.todos_data.deadTodos">
							<del>{{deadTodo.text}}</del> - completed
						</li>
					</ul>
      				</div>
      			</div>
			<br>
			<br>
			<button ng-click="todoList.clear('todos')">CLEAR TODOS</button> 
			<button ng-click="todoList.clear('deadTodos')">CLEAR ARCHIVE</button> 
			<button ng-click="todoList.clear('everything')">CLEAR ALL</button> 
			<p class="subdued-text"><em>*using clear buttons permanently removes all data from specified area</em></p>
    		</div>
	</div>
  </body>
</html
