.done-true {
  text-decoration: line-through;
  color: grey;
}

.unstyled {
  list-style: none;
  padding: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.archives {
  width: 300px;
  padding: 10px;
  border: 1px solid #757575;
  background-color: #f2f2f2;
}

.archives ul li {
  color: #aaa;
}

.remove-link {
  color: #ff0000;
}

.subdued-text {
  color: #a5a5a5;
}

h4 {
  margin-top: 0;
}

form {
  display: inline;
}

.user-title {
  text-transform: capitalize; 
}

.edit-text {
  color: #008cff;
}

.remaining-count {
  font-size: 12px;
}

